body {
	background-color:Orange;
} 

h1, h2, h3, h4, h5, h6 {
	color: DarkGreen;
	font-family: Verdana, serif;
	font-weight: bold;
}

p {
	color: ForestGreen;
	font-family: Georgia, serif;
	font-size: 20px;
}

footer {
	color: LawnGreen;
	font-family: Georgia, serif;
	font-size: 12px;
}

table {
	color: ForestGreen;
	font-family: Georgia, serif;
	font-size: 20px;

}

span {
	font-family: Georgia, serif;
	color:LawnGreen;
	font-weight:bold;
	text-decoration:underline;
}

nav{
	color:DarkGreen;
	font-family: Verdana, serif;
}

img {
	width: 80%;
	border-radius: 5px;
	margin-right: 10px;
}

iframe{
	width: 80%;
	height: auto;
}
